<% layout('partials/layout') %>

<div class="container">
  <div class="row">
    <div class="col-sm-6 mb-sm-0">
      <div class="card mb-3" style="background-color: #6d835c">
        <img src="/images/evalImg.jpeg" alt="evalImg">
      </div>
      <h4
        class="display-6 mb-md-2 text-center mb-3 pb-3 text-decoration-underline text-light"
        >
        <em>Evaluating The Success And Effectiveness Of Existing <br> Drainage Systems For Managing Rainwater Runoff In Nigeria
        </em>
      </h4>
       <p class="text-center text-decoration-underline lead text-light"><em>By, Engr John Cee Onwualu, JP (FNSE, <br> FNICE, FNIWE, P.E.,
        R.ENG, MASCE, COREN)</em>
      </p>      
      <div class="content text-center pl-5">
        <span style="display: flex; align-content: flex-start;"
          ><a
          href="/archives/archives_2024_april"
          class="btn btn-success text-light"
          style="border-color: #fff; background-color: #6d835c"
          >
          <em>Posted on 15 April 2024 - 11:47 pm</em>
          <a
          class="btn btn-success text-light"
          href="/archives/deprof_archive"
          style="
            text-decoration: none;
            background-color: #6d835c;
            border-color: #fff;
            "
            ><em>By, DEPROF</em></a
          ></a
          >
        </span>
      </div>
      <hr>  
      <div class="card" style="background-color: #6d835c">
        <iframe title="Imagine canoes on waterways filled with refuse" width="100%" height="550" src="https://www.youtube.com/embed/BzNxngZ5ulE?feature=oembed" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <h4 class="text-decoration-underline mt-3 text-light text-center"><b><em>Introduction</em></b></h4>
        <p class="lead text-center mt-1 pl-4 pr-4 text-light"><em>Like many other countries, Nigeria faces the challenge of managing rainwater runoff effectively. The country&#8217;s rapid urbanisation and population growth have led to an increase in impervious surfaces, which in turn has resulted in increased runoff and flooding. <br>
          This article aims to evaluate the success and effectiveness of existing drainage systems in Nigeria, focusing on their ability to manage rainwater runoff.</em></p>
        <img class="pl-4" src="/images/smallImg.jpg" alt="smallImg" style="width: 50%; height: 50%;">            
        <p class="lead text-center mt-1 pl-4 pr-4 text-decoration-underline text-light"><em>Construction Of 1.5m x 1.8m UChannel Stormwater <br> Sewer On NPA Expressway, Warri1</em></p>
        <hr>
        <h4
          class="text-center mb-2 text-decoration-underline text-light"
          >
          <em>Background</em>
        </h4>
        <p class="lead text-center pl-4 pr-4 text-light"><em>Like many other countries, Nigeria faces the challenge of managing rainwater runoff effectively. The country&#8217;s rapid urbanisation and population growth have led to an increase in impervious surfaces, which in turn has resulted in increased runoff and flooding. <br>
          Rainwater runoff is the flow of water that occurs when precipitation falls on the land surface and flows over the ground, rather than infiltrating into the soil. <br>
          In urban areas, rainwater runoff can cause significant problems, including flooding, erosion, and water pollution. <br>
          To mitigate these issues, drainage systems are designed and implemented to collect, convey, and dispose of rainwater runoff.</em>
        </p>
        <img src="/images/rainwaterImg.jpg" alt="rainwaterImg" style="width:100%; height:550;">            
        <p class="lead text-center mt-1 text-decoration-underline text-light"><em>Waterways Clogged With Refuse And Specks <br> Of Dirt Worsened By Rainwater Runoff</em></p>
        <hr>
        <h4
          class="text-center mb-2 text-decoration-underline text-light"
          >
          <em>Existing Drainage Systems In Nigeria</em>
        </h4>
        <p class="lead text-center lead pl-4 pr-4 text-light"><em>Nigeria has a variety of drainage systems in place, including open channels, closed conduits, and combined systems. <br>
          These systems are designed to manage rainwater runoff in both urban and rural areas. However, the effectiveness of these systems varies depending on factors such as design, maintenance, and the intensity of rainfall events.</em></p>
        <img src="/images/EXISTiMG.jpg" alt="EXISTiMG">            
        <p class="lead text-center mt-1 text-decoration-underline text-light pl-4 pr-4 text-light"><em>Cleaning of Waterway in Warri, <br> Delta State, Nigeria</em></p>
        <hr>
        <img src="/images/watImg1.jpg" alt="watImg1" >            
        <p class="lead text-center mt-1 text-light text-decoration-underline pl-4 pr-4 text-light"><em>Resulting/Cleaning Of The Waterway In Warri: <br> Before And After Pictures</em></p>
        <hr>
        <h4
          class="text-center mb-2 text-decoration-underline text-light"
          >
          <em>Open Channels</em>
        </h4>
        <p class="lead text-center pl-2 pr-2 text-light"><em>Open channels, also known as surface drains, are Nigeria&#8217;s most common type of drainage system. These channels are typically constructed using concrete, stone, or earth materials. <br>
          They are designed to convey rainwater runoff to a suitable outlet, such as a river or a stormwater detention basin. <br>
          While open channels are relatively inexpensive to construct and maintain, they can be prone to blockages and sedimentation, which can reduce their effectiveness in managing rainwater runoff. <br>
          In addition, open channels can pose a safety risk to the public, as they can be a breeding ground for mosquitoes and other disease vectors.</em>
        </p>
        <img src="/images/openImg.jpg" alt="openImg">            
        <p class="lead text-center mt-1 text-decoration-underline pl-4 pr-4 text-light"><em>Open Channels Construction Management <br> By Jefcon &amp; Associates Ltd</em></p>
        <hr>   
        <h4
          class="text-center mb-2 text-decoration-underline text-light"
          >
          <em>Closed Conduits</em>
        </h4>
        <p class="lead text-center pl-4 pr-4 text-light"><em>Closed conduits, such as pipes and culverts, are another type of drainage system used in Nigeria. <br>
          These systems are designed to convey rainwater runoff underground, which can help to reduce the risk of flooding and erosion. <br>
          However, closed conduits can be more expensive to construct and maintain than open channels, and they can also be prone to blockages and sedimentation.</em>
        </p>
        <img src="/images/closedImg.jpeg" alt="closedImg">            
        <p class="lead text-center text-decoration-underline pl-4 pr-4 text-light"><em>Closed Drainages In Construction <br>By, Jefcon And Associates In Delta State Of Nigeria</em></p>
        <div class="card mb-3 text-light pr-3 pl-3" style="background-color: #6d835c">
          <h4 class="pt-2 text-decoration-underline text-center"><b><em>Conclusion</em></b></h4>
          <p class="lead text-center pl-4 pr-4 text-light"><em>The success and effectiveness of existing drainage systems in Nigeria depend on several factors, including design, maintenance, rainfall intensity, and urbanisation. <br>
            While open channels, closed conduits, and combined systems are all used in Nigeria to manage rainwater runoff, each system has its advantages and disadvantages. <br>
            To ensure the effectiveness of drainage systems in Nigeria, it is essential to consider these factors and implement appropriate solutions to manage rainwater runoff effectively.</em>
          </p>         
        </div>
        <div class="card-body pr-3 pl-3">
          <h4 class="text-decoration-underline text-light text-center"><b><em>References</em></b></h4>
          <ol class="lead text-light pr-5">                  
            <li class="text-light pr-2 pl-2"><span class="text-light text-start" style="font-weight: 400"><em>https://core.ac.uk/download/pdf/79124969.pdf</em></span></li>
            <li class="text-light pr-2 pl-2"><span class="text-light text-start" style="font-weight: 400"><em>https://www.greenhabitat.ng/the-need-for-efficient-drainage-system-in-nigerian-cities/</em></li>
            <li class="text-light pr-2 pl-2"><span class="text-light text-start" style="font-weight: 400"><em>https://www.grin.com/document/953132?lang=en</em></span></li>
            <li class="text-light pr-2 pl-2"><span class="text-light text-start" style="font-weight: 400"><em>http://repository.futminna.edu.ng:8080/jspui/bitstream/123456789/4942/1/challenges%20OF%20drainage%20systems%20in%20nigeria%20conference.pdf</em></span></li>
          </ol>   
        </div>
        <hr>
        <div class="container">
          <div class="card mr-3 ml-3">
            <div class="card-body text-center" style="background-color: #6D835C;">
              <p style="width: 100%; height: 100%;"><a href="/blogs/chal_stormwat_criticalAnal" class="text-light" style="text-decoration: none;"><i>←</i>&emsp;</a><a class="text-light" href="/blogs/chal_stormwat_criticalAnal" title="Challenges Of Storm Water Management In Urban Areas Of Nigeria: A Critical Analysis By, Engr. John Cee Onwualu, JP (FNSE, FNICE, FNIWE, P.E., R.ENG, MASCE, COREN)">
                <span class="text-start lead"><em>Challenges Of Storm Water Management In Urban Areas Of Nigeria: A Critical Analysis By, Engr. John Cee Onwualu, JP (FNSE, FNICE, FNIWE, P.E., R.ENG, MASCE, COREN)</em><a class="next-post btn btn-lg btn-outline-secondary" href="/blogs/chal_stormwat_criticalAnal" title="Challenges Of Storm Water Management In Urban Areas Of Nigeria: A Critical Analysis"></a></span>
                <a class="next-post btn btn-lg btn-outline-light" href="/blogs/chal_stormwat_criticalAnal" title="Challenges Of Storm Water Management In Urban Areas Of Nigeria: A Critical Analysis">
                  <span class="arrow">&rarr;</span>
                </a>
              </p>
            </div>
          </div>
          <div class="card mt-3 mb-3 mr-3 ml-3">
            <div class="card-body text-center" style="background-color: #6D835C;">
              <p style="width: 100%; height: 100%;"><a href="/blogs/address_nig_wat_Pollution" class="text-light" style="text-decoration: none;"><i>←&emsp;</i></a><a class="text-light" href="/blogs/address_nig_wat_Pollution" title="Addressing Nigeria's Water Pollution Crisis: The Role Of Storm Water Management By, Engr. John Cee Onwualu, JP (FNSE, FNICE, FNIWE, P.E., R.ENG, MASCE, COREN)">
                <span class="lead"><em>Addressing Nigeria's Water Pollution Crisis: <br> The Role Of Storm Water Management <br> By, Engr. John Cee Onwualu, JP (FNSE,  FNICE, FNIWE, P.E., R.ENG, MASCE, COREN)</em>
                  <a class="next-post btn btn-lg btn-outline-secondary" href="/blogs/address_nig_wat_Pollution" title="Addressing Nigeria's Water Pollution Crisis: The Role Of Storm Water Management"></a></span>
                  <a class="next-post btn btn-lg btn-outline-light" href="/blogs/address_nig_wat_Pollution" title="Addressing Nigeria's Water Pollution Crisis: The Role Of Storm Water Management">
                <span class="arrow">&rarr;</span>
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card" style="background-color: #6d835c">
        <h4
          class="display-6 lead text-light mt-3 text-decoration-underline text-center"
        >
          <strong><em>About us</em></strong>
        </h4>
        <div class="card-body text-center">
          <p class="lead text-light"><b>Jefcon & Associates Ltd</b> is a Civil Engineering Consulting Firm with high precision GNSS data acquisition solutions with capacities for delivering various Civil Engineering Design services, including Flood Vulnerability Studies, Modeling and Design of flood control infrastructures, Building and Civil/Structural engineering, high precision Surveying and mapping.</p>
          <div class="row">
            <div class="col-sm-6 mb-sm-0">
              <div class="card mt-1" style="background-color: #6d835c">
                <h4 class="text-light text-center text-decoration-underline pt-3"><em>Recent Posts</em></h4>
                <div class="card-body text-light text-start pl-5">
                  <div class="row">
                    <div class="col-md-4">
                      <hr>
                      <a class="text-light d-block" href="/archives/archives_2025_june" style="text-decoration: none;"><em>June 2025</em></a><br><a href="/blogs/preventing_stormwater" class="text-light"><em>Preventing Stormwater Pollution: Implementing Effective QC For Drainage Systems In Nigeria <br> By, Engr. John Cee Onwualu, JP (FNSE, FNICE, FNIWE, P.E., R.ENG., MASCE, COREN)</em></a>
                      <hr>
                      <a class="text-light d-block" href="/archives/archives_2025_april" style="text-decoration: none;"><em>April 2025</em></a><br><a href="/blogs/understan_geotechnical" class="text-light"><em>Understanding Geotechnical Considerations For Storm Water Drainage In Nigeria  <br> By, Engr. John Cee Onwualu, JP (FNSE, FNICE, FNIWE, P.E., R.ENG., MASCE, COREN)</em></a>
                      <hr>
                      <a class="text-light d-block" href="/archives/archives_2024_july" style="text-decoration: none;"><em>July 2024</em></a><br><a href="/blogs/best_pract_stormwater" class="text-light"><em>Best Practices For Concrete Work In Stormwater Drainage: Quality Control For Durability In Nigerian Climates <br> By, Engr. John Cee Onwualu, JP (FNSE, FNICE, FNIWE, P.E., R.ENG., MASCE, COREN)</em></a>
                      <hr>
                      <a class="text-light d-block" href="/archives/archives_2024_june" style="text-decoration: none;"><em>June 2024</em></a><br><a href="/blogs/ensuringStormwater" class="text-light"><em>Ensuring Stormwater Drainage System Efficiency: Quality Control Measures In Nigerian Construction Projects <br> By, Engr. John Cee Onwualu, JP (FNSE, FNICE, FNIWE, P.E., R.ENG., MASCE, COREN)</em></a>
                      <hr>
                      <a class="text-light d-block" href="/archives/archives_2024_may" style="text-decoration: none;"><em>May 2024</em></a><br><a href="/blogs/chal_stormwat_criticalAnal" class="text-light"><em>Challenges Of Stormwater Management In Urban Areas Of Nigeria: A Critical Analysis</em></a>
                      <hr>
                      <a class="text-light d-block"  href="/archives/archives_2024_april" style="text-decoration: none;"><em>April 2024</em></a><br><a href="/blogs/eval_succ_effec_exisDrain" class="text-light"><em>Evaluating The Success And Effectiveness Of Existing Drainage Systems For Managing Rainwater Runoff In Nigeria</em></a>                      
                      <hr>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card" style="background-color: #6d835c">
                <h4 class="card-title text-light text-decoration-underline text-center mt-2"><em>Categories</em></h4>
                <div class="card-body text-start text-light lead">
                  <div class="list-unstyled"> 
                    <a class="text-light pl-3" href="/categories/case_studies"><em>Case Studies</em></a><br>                         
                    <a class="text-light pl-3" href="/categories/construction_law"><em>Construction Law</em></a> <br>                        
                    <a class="text-light pl-3" href="/categories/construction_technology"><em>Construction Technology</em></a><br>                         
                    <a class="text-light pl-3" href="/categories/consultancy_advisory"><em>Consultancy And Advisory Services</em></a><br>                        
                    <a class="text-light pl-3" href="/categories/engdesign_simulation"><em>Engineering Design And Simulation</em></a><br>                       
                    <a class="text-light pl-3" href="/categories/category_eng_surveys"><em>Engineering Surveys</em></a><br>                       
                    <a class="text-light pl-3" href="/categories/cat_environmental"><em>Environmental</em></a><br>                       
                    <a class="text-light pl-3" href="/categories/cat_feasibility_eco"><em>Feasibility And Economic Studies</em></a><br>
                    <a class="text-light pl-3" href="/categories/industrynews_trend"><em>Industry News And Trends</em></a><br>
                    <a class="text-light pl-3" href="/categories/innovation_research"><em>Innovation And Research</em></a><br>
                    <a class="text-light pl-3" href="/categories/mech_elec_plumbing"><em>Mechanical, Electrical, And Plumbing (MEP)</em></a><br>
                    <a class="text-light pl-3" href="/categories/pro_superv_cat"><em>Project Supervision And Management</em></a><br>
                    <a class="text-light pl-3" href="/categories/proj_valuation_cost"><em>Project Valuation And Cost Control</em></a><br>
                    <a class="text-light pl-3" href="/categories/safety_regulations"><em>Safety And Regulations</em></a><br>
                    <a class="text-light pl-3" href="/categories/training_education"><em>Training And Education</em></a><br>
                    <a class="text-light pl-3" href="/categories/uncategorized"><em>Uncategorized</em></a><br>
                    <p>
                      <a class="btn btn-success mt-3 ml-3" href="/blogs"><em>More ⇥</em></a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>                 
          <div class="card pl-2" style="background-color: #6D835C";> 
            <h4
              class="display-8 pt-2 text-light text-decoration-underline text-center"
            >
              <strong><em>Jefcon Blog Post</em></strong>
            </h4>
            <div class="row">
              <div class="col-sm-6 mb-sm-0 text-start">
                <ul style="display: inline-block;">
                  <a class="lead text-light" href="/categories/case_studies"><em>Case Studies</em></a><br>
                  <a class="lead text-light" href="/categories/construction_law"><em>Construction Law</em></a><br>
                  <a class="lead text-light" href="/categories/construction_technology"><em>Construction Technology</em></a><br>
                  <a class="lead text-light" href="/categories/consultancy_advisory"><em>Consultancy And Advisory Services</em></a><br>
                  <a class="lead text-light" href="/categories/engdesign_simulation"><em>Engineering Design And Simulation</em></a><br>
                  <a class="lead text-light" href="/categories/category_eng_surveys"><em>Engineering Surveys</em></a><br>
                  <a class="lead text-light" href="/categories/cat_environmental"><em>Environmental</em></a><br>
                  <a class="lead text-light" href="/categories/cat_feasibility_eco"><em>Feasibility And Economic Studies</em></a><br>
                  <a class="lead text-light" href="/categories/industrynews_trend"><em>Industry News And Trends</em></a><br>
                  <a class="lead text-light" href="/categories/innovation_research"><em>Innovation And Research</em></a><br>
                  <a class="lead text-light" href="/categories/mech_elec_plumbing"><em>Mechanical, Electrical, And Plumbing (MEP)</em></a><br>
                  <a class="lead text-light" href="/categories/pro_superv_cat"><em>Project Supervision And Management</em></a><br>
                  <a class="lead text-light" href="/categories/proj_valuation_cost"><em>Project Valuation And Cost Control</em></a><br>
                  <a class="lead text-light" href="/categories/safety_regulations"><em>Safety And Regulations</em></a><br>
                  <a class="lead text-light" href="/categories/training_education"><em>Training And Education</em></a><br>
                  <a class="lead text-light" href="/categories/uncategorized"><em>Uncategorized</em></a> 
                </ul>
              </div>
              <div class="col-sm-6 mb-sm-0 text-start">
                <ul style="display: inline-block;">
                  <a class="lead text-light" href="/archives/archives_2025_june"><em>June 2025</em></a><br>
                  <a class="lead text-light" href="/archives/archives_2025_april"><em>April 2025</em></a><br>
                  <a class="lead text-light" href="/archives/archives_2024_july"><em>July 2024</em></a><br>
                  <a class="lead text-light" href="/archives/archives_2024_june"><em>June 2024</em></a><br>
                  <a class="lead text-light" href="/archives/archives_2024_may"><em>May 2024</em></a><br>
                  <a class="lead text-light" href="/archives/archives_2024_april"><em>April 2024</em></a><br>
                  <a class="lead text-light" href="/archives/archives_2024_march"><em>March 2024</em></a><br>
                  <a class="lead text-light" href="/archives/archives_2024_feb"><em>February 2024</em></a><br>
                  <a class="lead text-light" href="/archives/archives_2024_jan"><em>January 2024</em></a><br>
                  <a class="lead text-light" href="/archives/archives_2023_dec"><em>December 2023</em></a><br>
                  <a class="lead text-light" href="/archives/archives_2023_nov"><em>November 2023</em></a><br>
                  <a class="lead text-light" href="/archives/archives_2023_oct"><em>October 2023</em></a><br>
                  <a class="lead text-light" href="/archives/archives_2023_march"><em>March 2023</em></a><br>
                  <a class="lead text-light" href="/archives/archives_2023_feb"><em>February 2023</em></a> <br> 
                  <a class="lead text-light" href="/archives/archives_2023_jan"><em>January 2023</em></a> <br> 
                  <a class="lead text-light" href="/archives/archives_2022_dec"><em>December 2022</em></a> <br> 
                  <a class="lead text-light" href="/archives/archives_2022_nov"><em>November 2022</em></a> <br> 
                  <a class="lead text-light" href="/archives/archives_2022_oct"><em>October 2022</em></a> <br> 
                  <a class="lead text-light" href="/archives/archives_2022_sept"><em>September 2022</em></a> <br> 
                  <a class="lead text-light" href="/archives/archives_2022_august"><em>August 2022</em></a> <br> 
                  <a class="lead text-light" href="/archives/archives_2022_july"><em>July 2022</em></a> <br> 
                  <a class="lead text-light" href="/archives/archives_2022_may"><em>May 2022</em></a> <br> 
                  <a class="lead text-light" href="/archives/archives_2022_april"><em>April 2022</em></a> <br> 
                  <a class="lead text-light" href="/archives/archives_2022_march"><em>March 2022</em></a> <br> 
                  <a class="lead text-light" href="/archives/archives_2022_feb"><em>February 2022</em></a> <br> 
                  <a class="lead text-light" href="/archives/archives_2022_jan"><em>January 2022</em></a> <br> 
                  <a class="lead text-light" href="/archives/archives_2021_dec"><em>December 2021</em></a> <br> 
                  <a class="lead text-light" href="/archives/archives_2021_nov"><em>November 2021</em></a> <br> 
                  <a class="lead text-light" href="/archives/archives_2021_august"><em>August 2021</em></a> <br> 
                  <a class="lead text-light" href="/archives/archives_2021_june"><em>June 2021</em></a> <br> 
                  <a class="lead text-light" href="/archives/archives_2021_may"><em>May 2021</em></a> <br> 
                  <a class="lead text-light" href="/archives/archives_2021_april"><em>April 2021</em></a> <br> 
                  <a class="lead text-light" href="/archives/archives_2021_jan"><em>January 2021</em></a> <br> 
                  <a class="lead text-light" href="/archives/archives_2020_nov"><em>November 2020</em></a> <br> 
                  <a class="lead text-light" href="/archives/archives_2020_oct"><em>October 2020</em></a> <br> 
                  <a class="lead text-light" href="/archives/archives_2020_sept"><em>September 2020</em></a> <br> 
                  <a class="lead text-light" href="/archives/archives_2020_august"><em>August 2020</em></a> <br> 
                  <a class="lead text-light" href="/archives/archives_2020_july"><em>July 2020</em></a> <br> 
                  <a class="lead text-light" href="/archives/archives_2020_may"><em>May 2020</em></a> 
                </ul>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="card" style="background-color: #6d835c">
                    <div class="card-body">
                      <h4 class="display-8 text-light mt-3 text-decoration-underline text-center">
                        <strong><em>Popular Tags</em></strong>
                      </h4>
                      <div class="row">
                        <div class="col-sm-6 mb-sm-0 text-start">
                          <ul style="display: inline-block;">
                            <a class="lead text-light" href="/tags/tag_drainagechannels"><em>#drainagechannel</em></a><br>
                            <a class="lead text-light" href="/tags/tag_floodwatercontrol"><em>#flood-water-control</em></a><br>
                            <a class="lead text-light" href="/tags/tag_stormwater"><em>#stormwater</em></a><br>
                            <a class="lead text-light" href="/tags/tag_stormwatermanagement"><em>#storm-water-management</em></a><br>
                            <a class="lead text-light" href="/tags/tag_civilengineering"><em>#civilengineering</em></a><br>
                            <a class="lead text-light" href="/tags/tag_complexengineeringproblems"><em>#complex-engineering-problems</em></a><br>
                            <a class="lead text-light" href="/tags/tag_construction"><em>#construction</em></a><br>
                            <a class="lead text-light" href="/tags/tag_drainage"><em>#drainage</em></a><br>
                            <a class="lead text-light" href="/tags/tag_drainagebasin"><em>#drainagebasin</em></a><br>
                            <a class="lead text-light" href="/tags/tag_drainagebresilien"><em>#drainagebresilien</em></a><br>
                            <a class="lead text-light" href="/tags/tag_drainagecell"><em>#drainagecell</em></a><br>
                            <a class="lead text-light" href="/tags/tag_drainagechannel"><em>#drainagechannel</em></a><br>
                            <a class="lead text-light" href="/tags/tag_drainagecontractor"><em>#drainagecontractor</em></a><br>
                            <a class="lead text-light" href="/tags/tag_drainagecover"><em>#drainagecover</em></a>  <br> 
                            <a class="lead text-light" href="/tags/tag_drainagedesign"><em>#drainagedesign</em></a> <br>  
                            <a class="lead text-light" href="/tags/tag_drainageditch"><em>#drainageditch</em></a> <br> 
                            <a class="lead text-light" href="/tags/tag_drainageengineer"><em>#drainageengineer</em></a> <br>  
                            <a class="lead text-light" href="/tags/tag_drainagehole"><em>#drainageholes</em></a> <br>
                            <a class="lead text-light" href="/tags/tag_drainageissues"><em>#drainageissues</em></a> <br>
                            <a class="lead text-light" href="/tags/tag_drainagelife"><em>#drainagelife</em></a> <br>
                            <a class="lead text-light" href="/tags/tag_drainageline"><em>#drainageline</em></a> <br>
                            <a class="lead text-light" href="/tags/tag_drainagepathway"><em>#drainagepathway</em></a> <br>  
                            <a class="lead text-light" href="/tags/tag_drainagepipe"><em>#drainagepipe</em></a>   
                          </ul>
                        </div>
                        <div class="col-sm-6 mb-sm-0 text-start">
                          <ul style="display: inline-block;">
                            <a class="lead text-light" href="/tags/tag_drainagepipes"><em>#drainagepipes</em></a> <br>  
                            <a class="lead text-light" href="/tags/tag_drainageproblems"><em>#drainageproblems</em></a><br>
                            <a class="lead text-light" href="/tags/tag_drainageproducts"><em>#drainageproducts</em></a><br>
                            <a class="lead text-light" href="/tags/tag_drainageproject"><em>#drainageproject</em></a><br>
                            <a class="lead text-light" href="/tags/tag_drainagesolution"><em>#drainagesolution</em></a><br>
                            <a class="lead text-light" href="/tags/tag_drainagesolutions"><em>#drainagesolutions</em></a><br>
                            <a class="lead text-light" href="/tags/tag_drainagespecialists"><em>#drainagespecialists</em></a><br>
                            <a class="lead text-light" href="/tags/tag_drainagesystem"><em>#drainagesystem</em></a><br>
                            <a class="lead text-light" href="/tags/tag_drainagesystems"><em>#drainagesystems</em></a><br>
                            <a class="lead text-light" href="/tags/tag_drainagetile"><em>#drainagetile</em></a><br>
                            <a class="lead text-light" href="/tags/tag_drainagevisage"><em>drainagevisage</em></a><br>
                            <a class="lead text-light" href="/tags/tag_drainagework"><em>#drainagework</em></a><br>
                            <a class="lead text-light" href="/tags/tag_drainageworks"><em>#drainageworks</em></a><br> 
                            <a class="lead text-light" href="/tags/tag_engineeringfundamentals"><em>#engineeringfundamentals</em></a> <br> 
                            <a class="lead text-light" href="/tags/tag_engineeringpractices"><em>#engineeringpractices</em></a> <br> 
                            <a class="lead text-light" href="/tags/tag_nigeria"><em>#nigeria</em></a> <br> 
                            <a class="lead text-light" href="/tags/tag_qualityofengineeringproducts"><em>#qualityofengineering-products</em></a> <br> 
                            <a class="lead text-light" href="/tags/tag_stormwaterdrainage"><em>#stormwaterdrainage</em></a> <br> 
                            <a class="lead text-light" href="/tags/tag_storm_water_management"><em>stormwatermanagement</em></a> <br> 
                            <a class="lead text-light" href="/tags/tag_sustainablestormwatermanagement"><em>#sustainable-stormwatermanagement</em></a> <br> 
                            <a class="lead text-light" href="/tags/tag_youngengineer"><em>#youngengineer</em></a> 
                          </ul>
                        </div>
                      </div>  
                    </div>
                  </div>
                </div>
              </div>           
            </div>
          </div>
        </div>
      </div>
      <div class="container pt-3">
        <div class="card text-light" style="background-color: #6d835c">
          <h4
            class="mt-3 pl-4 pr-4 text-center mb-2 text-decoration-underline text-light"
            >
            <em>Combined Systems</em>
          </h4>
          <p class="lead text-center pl-3 pr-3 text-light"><em>Combined systems, which consist of both open channels and closed conduits, are used in some areas of Nigeria to manage rainwater runoff. <br>
            These systems can be more effective than either open channels or closed conduits alone, as they can provide a more comprehensive solution to managing rainwater runoff. <br>
            However, combined systems can be more expensive to construct and maintain than either open channels or closed conduits alone</em>
          </p>
          <img src="/images/combinImg.jpg" alt="combinImg" >            
          <p class="lead text-center mt-1 text-decoration-underline pl-3 pr-3 text-light"><em>Combined Drainage Systems For Effective Stormwater Channelling And Managed By, Jefcon &amp; Associates Ltd</em></p>
          <hr>
          <h4 class="pt-3 pl-4 pr-4 text-decoration-underline text-center"><b><em>Evaluating The Success And Effectiveness Of Existing Drainage Systems</em></b></h4>
          <p class="lead text-light text-start pr-3 pl-4"><em>To evaluate the success and effectiveness of existing drainage systems in Nigeria, several factors must be considered, including:</em>
          </p>
          <div class="card-body pl-4" style="background-color: #6D835C;">
            <ol class="display-8 lead">
              <li>   
                <h3 class="lead text-decoration-underline pl-2"><b><em>Design</em></b></h3>
                <p class="lead text-light text-start"><em>The design of a drainage system plays a crucial role in its ability to manage rainwater runoff effectively. <br>
                  A well-designed system should be able to convey rainwater runoff to a suitable outlet without causing flooding or erosion.</em>
                </p>
              </li>
              <li>   
                <h3 class="lead text-decoration-underline pl-2"><b><em>Maintenance</em></b></h3>
                <p class="lead text-light text-start "><em>Regular maintenance is essential for ensuring the effectiveness of a drainage system. <br>
                  Blockages, sedimentation, and other issues can reduce the effectiveness of a drainage system, leading to increased flooding and erosion.</em>
                </p>
              </li>
              <li>   
                <h3 class="lead text-decoration-underline pl-2"><b><em>Rainfall Intensity</em></b></h3>
                <p class="lead text-light text-start"><em>The intensity of rainfall events can have a significant impact on the effectiveness of a drainage system. <br>
                  A system that is designed to manage rainwater runoff during moderate rainfall events may not be effective during more intense rainfall events.</em>
                </p>
              </li>
              <li>   
                <h3 class="lead text-decoration-underline pl-2"><b><em>Urbanization And Land Use</em></b></h3>
                <p class="lead text-light text-start"><em>Rapid urbanisation and land use changes in Nigeria can have a significant impact on the effectiveness of existing drainage systems. <br>
                  Increased impervious surfaces can lead to increased runoff and flooding, which can overwhelm existing drainage systems.</em>
                </p>
              </li>
            </ol>
          </div>
          <img src="/images/urbanImg.jpg" alt="urbanImg" style="width: 100%; height: 100%;">            
          <p class="lead text-center pl-3 pr-3 mt-1 text-decoration-underline text-light"><em>3rd Marine Gate StormWater Sewer Connection, Warri</em></p>
          <hr>
          <footer class="entry-meta" style="background:none !important; position:relative; z-index:10;">
            <div class="container text-center">
              <em>This entry was posted in - 
              <p class="text-center"><a class="text-light" href="/categories/uncategorized" rel="category tag">Uncategorized</a></p>
              <em> and tagged - <br>
              <p class="text-center"><a class="text-light" href="/tags/tag_civilengineering" rel="tag">#civilengineering</a>, <br>
              <a class="text-light" href="/tags/tag_drainageplanning" rel="tag">#drainageplanning</a>, <br>
              <a class="text-light" href="/tags/tag_drainagesystems" rel="tag">#drainagesystems</a>, <br>
              <a class="text-light" href="/tags/tag_environmentalimpact" rel="tag">#environmentalimpact</a>, <br>
              <a class="text-light" href="/tags/tag_nigeriaenvironment" rel="tag">#NigeriaEnvironment</a>, <br>
              <a class="text-light" href="/tags/tag_rainwaterrunoff" rel="tag">#rainwaterRunoff</a>, <br>
              <a class="text-light" href="/tags/tag_storm_water_management" rel="tag">#stormwatermanagement</a>, <br>
              <a class="text-light" class="text-light" href="/tags/tag_sustainabledevelopment" rel="tag">#sustainabledevelopment</a>, <br>
              <a class="text-light" href="/tags/tag_urbanplanning" rel="tag">#urbanplanning</a>, <br>
              <a class="text-light" href="/tags/tag_waterinfrastructure" rel="tag">#waterinfrastructure</a>
              <br><a class="text-light" href="/archives/deprof_archive">By, DEPROF</a>.</em>
              <hr> 
              <p>
                <em>
                  <a class="text-light" href="/blogs/eval_succ_effec_exisDrain" title="Permalink to Evaluating The Success And Effectiveness Of Existing Drainage Systems For Managing Rainwater Runoff In Nigeria" rel="bookmark">Bookmark the Permalink</a>.
                </em>
              </p>	
              <h4 class="pt-3 text-decoration-underline text-center"><b><em>No comments yet!</em></b></h4>
              <hr>   
            </div>
          </footer><!-- /.entry-meta -->              
        </div>  
      </div>        
    </div>
    <div class="container mt-3">
      <section class="pale py-2">
        <div class="container">
          <h4 class="display-6 text-light text-center mb-3 text-decoration-underline"><em>Related Blog Posts Based On Page Title</em></h4>                  
          <div class="row">
            <div class="col align-self-start">
              <div class="card mt-3">
                <img src="/images/preventImg.jpg" alt="preventImg" class="card-img-top">
                <div class="card-body text-center" style="background-color: #6D835C;">
                  <h4 class="card-title text-center text-light text-decoration-underline"><a class="text-light" href="/blogs/preventing_stormwater"><em>Preventing Stormwater Pollution: Implementing <br> Effective QC For Drainage Systems In Nigeria</em></a></h4>
                  <p class="lead text-light text-decoration-underline text-center"><em>By, Engr. John Cee Onwualu, JP (FNSE, FNICE, FNIWE, P.E., R.ENG) </em></p>
                  <p class="lead text-light text-center"><em>Preventing Stormwater Pollution: Implementing Effective QC for Drainage Systems in Nigeria Stormwater, the water that runs off impervious surfaces during rainfall, is a critical element in urban environments. While seemingly benign, its journey through our cities can transform it into a potent source of pollution, significantly impacting Nigeria's ecosystems and public health. Effective quality control (QC) for drainage [...]  on Thursday, 2nd Nov. 2023</em></p>
                  <p class="lead text-light"><em>
                    <a class="text-light" href="/categories/construction_technology" rel="category tag">Construction Technology</a><br><a class="text-light" href="/categories/cat_environmental" rel="category tag">Environmental</a><br><a class="text-light" href="/categories/consultancy_advisory" rel="category tag">Consultancy And Advisory Services</a></em>
                  </p>
                  <p class="lead text light text-center"><a class="text-light" href="/archives/deprof_archive"><em>By, DEPROF</em></a></p>
                </div>
              </div> 
            </div>
            <div class="col align-self-start">
              <div class="card mt-3">
                <img src="/images/AviationWork.jpeg" alt="AviationWork" class="card-img-top">
                <div class="card-body text-center" style="background-color: #6D835C;">
                  <h4 class="card-title text-center text-light text-decoration-underline"><a class="text-light" href="/blogs/understan_geotechnical"><em>Understanding Geotechnical Considerations for Stormwater Drainage QC in Nigeria</em></a></h4>
                  <p class="lead text-light text-decoration-underline text-center"><em>By, Engr. John Cee Onwualu, JP (FNSE, FNICE, FNIWE, P.E., R.ENG) </em></p>
                  <p class="lead text-light text-center"><em>In civil engineering, the success of stormwater drainage systems depends heavily on geotechnical considerations. The interplay between soil properties and ground conditions directly impacts the quality, durability, and long-term functionality of these systems. In Nigeria with [...]</em> </p>
                  <p class="lead text-center text-light"><em>Lecture Presentation To Nigerian Institute Of Civil
                    Engineers (NICE), Asaba Chapter, Delta State, Nigeria <br>
                    on Thursday, 2nd Nov. 2023 </em>
                  </p>
                  <p class="lead text-light"><em>
                    <a class="text-light" href="/categories/consultancy_advisory" rel="category tag">Consultancy And Advisory Services</a><br> <a class="text-light" href="/categories/cat_feasibility_Eco" rel="category tag">Feasibility And Economic Studies</a><br> <a class="text-light" href="/categories/innovation_research" rel="category tag">Innovation And Research</a> <br><a class="text-light" href="/categories/pro_superv_cat" rel="category tag">Project Supervision And Management</a><br> <a class="text-light" href="/categories/safety_regulations" rel="category tag">Safety And Regulations</a> </em>
                  </p>
                  <p class="lead text light text-center"><a class="text-light" href="/archives/deprof_archive"><em>By, DEPROF</em></a></p>
                </div>
              </div>
            </div>
            <div class="col align-self-start">
              <div class="card mt-3">
                <img src="/images/concrete work.jpeg" alt="concrete work" class="card-img-top">
                <div class="card-body text-center" style="background-color: #6D835C;">
                  <h4 class="card-title text-center text-light text-decoration-underline"><a href="/blogs/best_pract_stormwater" class="text-light"><em>Best Practices For Concrete Work In Stormwater Drainage: <br> Quality Control for Durability in Nigerian Climates</em></a></h4>
                  <p class="lead text-light text-decoration-underline text-center"><em>By, Engr. John Cee Onwualu, JP (FNSE, FNICE, FNIWE, P.E., R.ENG) </em></p>
                  <p class="lead text-light text-center"><em>Quality Control for Durability in Nigerian Climates Concrete, forms the backbone of stormwater drainage systems, providing the strength and durability needed to withstand environmental stresses. In Nigeria, where heavy rainfall and fluctuating temperatures often challenge infrastructure, ensuring the quality and longevity of concrete used in stormwater systems.</em></p>
                  <p class="lead text-light"><em><a class="text-light" href="/categories/consultancy_advisory" rel="category tag">Consultancy And Advisory Services</a> <br><a class="text-light" href="/categories/pro_superv_cat" rel="category tag">Project Supervision And Management</a> <br><a class="text-light" href="/categories/training_education" rel="category tag">Training And Education</a></em></p>
                  <p class="lead text light text-center"><a class="text-light" href="/archives/deprof_archive"><em>By, DEPROF</em></a></p>
                </div>  
              </div>
            </div>
            <div class="row">
              <div class="col align-self-start">
                <div class="card mt-3">
                  <img src="/images/challengesimg.jpg" alt="challengesimg" class="card-img-top">
                  <div class="card-body lead text-center text-light" style="background-color: #6D835C;">
                    <h4 class="card-title text-center text-light text-decoration-underline"><a href="/blogs/chal_stormwat_criticalAnal" class="text-light"><em>Challenges of Storm Water Management <br> In Urban Areas of Nigeria: <br> A Critical Analysis</em></a></h4>
                    <p class="lead text-center text-decoration-underline text-light"><em> By, Engr John Cee Onwualu, JP (FNSE, FNICE, FNIWE, P.E., R.ENG, MASCE, COREN)</em> </p>
                    <p class="lead text-center text-light"><em> This paper critically analyzes the various challenges associated with stormwater management in urban areas of Nigeria. It explores the interconnected nature of these challenges, encompassing inadequate infrastructure, rapid population growth, poor urban planning, and lack of financial and institutional capacity.</em></p>
                    <p class="lead"><a class="text-light" href="/categories/uncategorized" rel="category tag"><em>Uncategorized</em></a></p>
                    <p class="lead text light text-center"><a class="text-light" href="/archives/deprof_archive"><em>By, DEPROF</em></a></p>
                  </div>
                </div>     
              </div>
              <div class="col align-self-start">
                <div class="card mt-3">
                  <img src="/images/paaayloooadeer.JPG" alt="paaayloooadeer" class="card-img-top">
                  <div class="card-body text-center" style="background-color: #6D835C;">
                    <h4 class="card-title text-center text-light text-decoration-underline"><a href="/blogs/rel_btw_landUseChange" class="text-light"><em>The Relationship Between Land-use Change <br> And Urban Hydrology</em></a></h4>
                    <p class="lead text-center text-decoration-underline text-light"><em> By, Engr John Cee Onwualu, JP (FNSE, FNICE, FNIWE, P.E., R.ENG, MASCE, COREN)</em> </p>
                    <p class="lead text-center text-light"><em> Defining land-use change and urban hydrology Land-use change refers to the human alteration of landscapes for various purposes, such as urban development, transportation, agriculture, and forestry. Urban hydrology, on the other hand, is the study of water movement, storage, and quality in urban areas, including the impacts...</em> </p>
                    <p class="lead text-center text-light"><a class="text-light" href="/categories/uncategorized" rel="category tag"><em>Uncategorized</em></a></p>
                    <p class="lead text light text-center"><a class="text-light" href="/archives/deprof_archive"><em>By, DEPROF</em></a></p>
                  </div>
                </div>
              </div>
              <div class="col align-self-start">
                <div class="card mt-3">
                  <img src="/images/sewerDrainage.JPG" alt="sewerDrainage" class="card-img-top">
                  <div class="card-body text-light text-center" style="background-color: #6D835C;">
                    <h4 class="card-title text-center text-light text-decoration-underline"><a class="text-light" href="/blogs/ensuringStormwater"><em>Ensuring Stormwater Drainage System Efficiency</em></a></h4>
                    <p class="lead text-center text-decoration-underline text-light"><em> By, Engr John Cee Onwualu, JP (FNSE, FNICE, FNIWE, P.E., R.ENG, MASCE, COREN)</em> </p>
                    <p class="lead text-center text-decoration-underline text-light"><em>Quality Control Measures In Nigerian Construction Projects</em></p>
                    <p class="lead text-center text-light"><em>In Nigeria, the increasing frequency of flooding and urban waterlogging underscores the critical need for effective stormwater drainage systems. These systems are essential for managing rainwater runoff, protecting infrastructure, and safeguarding public health. This article delves into the importance of quality control (QC).</em></p>
                    <p class="lead text-center text-light"><a class="text-light" href="/categories/safety_regulations" rel="category tag"><em>Safety And Regulations</em></a></p>
                    <p class="lead text light text-center"><a class="text-light" href="/archives/deprof_archive"><em>By, DEPROF</em></a></p>
                  </div>
                </div>       
              </div>
              <div class="container">
                <div class="row">
                  <div class="col align-self-start">
                    <div class="card mt-3">
                      <img src="/images/projectImage.JPG" alt="projectImage" class="card-img-top">
                      <div class="card-body lead text-center text-light" style="background-color: #6D835C;">
                        <h4 class="card-title text-center text-light text-decoration-underline"><a href="/blogs/urgent_need_4_sustainable" class="text-light"><em>The Urgent Need For Sustainable Management Engineering Pracices</em></a></h4>
                        <p class="lead text-center text-decoration-underline text-light"><em> By, Engr John Cee Onwualu, JP (FNSE, FNICE, FNIWE, P.E., R.ENG, MASCE, COREN)</em> </p>
                        <p class="lead text-center pl-3 pr-3 text-light"><em>Lecture Presentation To Nigerian Institute Of Civil
                          Engineers (NICE), Asaba Chapter, Delta State, Nigeria <br> on Thursday, 2nd Nov. 2023</em>
                        </p>
                        <p class="lead"><a class="text-light" href="/categories/uncategorized" rel="category tag"><em>Uncategorized</em></a></p>
                        <p class="lead text light text-center"><a class="text-light" href="/archives/deprof_archive"><em>By, DEPROF</em></a></p>
                      </div>
                    </div>     
                  </div>
                  <div class="col align-self-start">
                    <div class="card mt-3">
                      <img src="/images/green-roof.png" alt="green-roof" class="card-img-top">
                      <div class="card-body lead text-light text-center" style="background-color: #6D835C;">
                        <h4 class="card-title text-decoration-underline"><a class="text-light" href="/blogs/exampl_Sustainable"><em>Examples of Sustainable Stormwater Management Practices In Urban Areas</em></a></h4>
                        <p class="lead text-center text-decoration-underline text-light"><em> By, Engr John Cee Onwualu, JP (FNSE, FNICE, FNIWE, P.E., R.ENG, MASCE, COREN)</em> </p>
                        <p class="lead text-light text-center pr-3 pl-3"><em>Excerpt from, "Lecture Presentation To Nigerian Institute Of Civil <br>
                          Engineers (NICE), Asaba Chapter, Delta State, Nigeria" <br>
                          on Thursday, 2nd Nov. 2023</em>
                        </p>
                        <p class="lead"><a class="text-light" href="/categories/uncategorized" rel="category tag"><em>Uncategorized</em></a></p>
                        <p class="lead text light text-center"><a class="text-light" href="/archives/deprof_archive"><em>By, DEPROF</em></a></p>
                      </div>
                    </div>
                  </div>
                  <div class="col align-self-start">
                    <div class="card mb-3 mt-3 mr-3" style="background-color: #6d835c" style="display: flex;">
                      <img src="/images/chalposeImg.jpg" alt="chalposeImg" class="card-img-top">
                      <div class="card-body text-center" style="background-color: #6D835C; box-sizing: border-box;">
                        <h4 class="card-title text-center text-light text-decoration-underline"><a class="text-light" href="/blogs/chal_posed_by_trad_storm"><em>Challenges Posed By Traditional Storm Water Management Practices</em></a></h4>
                        <p class="lead text-center text-decoration-underline text-light"><em> By, Engr John Cee Onwualu, JP (FNSE, FNICE, FNIWE, P.E., R.ENG, MASCE, COREN)</em> </p>
                        <p class="lead text-light text-center"><em>Excerpts from "Lecture Presentation To Nigerian Institute Of Civil
                          Engineers (NICE), Asaba Chapter, Delta State, Nigeria" <br>
                          on Thursday, 2nd Nov. 2023</em>
                        </p>
                        <p class="lead text-center text-light"><a class="text-light" href="/categories/uncategorized" rel="category tag"><em>Uncategorized</em></a></p>
                        <p class="lead text light text-center"><a class="text-light" href="/archives/deprof_archive"><em>By, DEPROF</em></a></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="container">
                  <div class="row">
                    <div class="col align-self-start">
                      <div class="card mt-3">
                        <img src="/images/evaluate.jpeg" alt="evaluate" class="card-img-top">
                        <div class="card-body text-center" style="background-color: #6D835C;">
                          <h4 class="card-title text-center text-light text-decoration-underline"><a class="text-light" href="/blogs/eval_succ_effec_exisDrain"><em>Evaluating The Success And Effectiveness Of Existing Drainage Systems For Managing Rainwater Runoff In Nigeria</em></a></h4>
                          <p class="lead text-center text-light"><em> Discover the effectiveness of existing drainage systems in Nigeria for managing rainwater runoff. This article explores the successes, challenges, and areas for improvement in mitigating flooding and ensuring efficient water management in Nigeria.</em></p>
                          <p class="lead text-center text-light"><a class="text-light" href="/categories/uncategorized" rel="category tag"><em>Uncategorized</em></a></p>
                          <p class="lead text light text-center"><a class="text-light" href="/archives/deprof_archive"><em>By, DEPROF</em></a></p>
                        </div>
                      </div> 
                    </div>
                    <div class="col align-self-start">
                      <div class="card mt-3">
                        <img src="/images/projectImag.JPG" alt="projectImag" class="card-img-top">
                        <div class="card-body text-center" style="background-color: #6D835C;">
                          <h4 class="card-title text-center text-light text-decoration-underline"><a class="text-light" href="/blogs/address_nig_wat_Pollution"><em>Addressing Nigeria's Water Pollution Crisis</em></a></h4>
                          <p class="lead text-center text-decoration-underline text-light"><em> By, Engr. John Cee Onwualu, JP (FNSE, FNICE, FNIWE, P.E., R.ENG) </em></p>
                          <p class="lead text-center text-decoration-underline text-light"><em>Understanding the Environmental Challenge Water Pollution: A Major Crisis in Nigeria</em></p>
                          <p class="lead text-center text-light"> <em>In Nigeria, the most populous country in Africa, is grappling with a severe environmental crisis – water pollution. Despite its wealth of water resources, including rivers, lakes, and underground aquifers, the nation struggles to provide its [...]</em>
                          </p>
                          </a>
                          <p class="lead text-center"><a class="text-light" href="/categories/uncategorized" rel="category tag"><em>Uncategorized</em></a></p>
                          <p class="lead text light text-center"><a class="text-light" href="/archives/deprof_archive"><em>By, DEPROF</em></a></p>
                        </div>
                      </div> 
                    </div>
                    <div class="col align-self-start">
                      <div class="card mb-3 mr-3" style="background-color: #6d835c" style="display: flex;">
                        <img src="/images/NavigatingImg.jpg" class="card-img-top" alt="NavigatingImg">                         
                        <div class="card-body text-center" style="background-color: #6D835C;">
                          <h4 class="card-title text-center text-light text-decoration-underline"><a class="text-light" href="/blogs/navigat_risk_flooding"><em>Navigating The Risk Of Floods: Civil Engineering Strategies For Managing Flood-Prone Areas</em></a></h4>
                          <p class="lead text-center text-decoration-underline text-light"><em> By, Engr John Cee Onwualu, JP (FNSE, FNICE, FNIWE, P.E., R.ENG, MASCE, COREN)</em> </p>
                          <p class="lead text-light text-center"><em>Excerpts from "Lecture Presentation To Nigerian Institute Of Civil
                            Engineers (NICE), Asaba Chapter, <br> Delta State, Nigeria" <br>
                            on Thursday, 2nd Nov. 2023</em>
                          </p>
                          <p class="lead text-center text-light"><a class="text-light" href="/categories/uncategorized" rel="category tag"><em>Uncategorized</em></a></p>
                          <p class="lead text light text-center"><a class="text-light" href="/archives/deprof_archive"><em>By, DEPROF</em></a></p>
                        </div>
                      </div>
                    </div>                                         
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>       
    