<% layout('partials/layout') %>

<div class="featurette bg-primary py-5" style="
        background: url('https://jefconassociates.com/wp-content/themes/jefcon-pentagon/assets/images2/dark-green-background.jpg')
        no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-attachment: fixed;
      ">
  <div class="container text-center text-light">
    <h2 class="mb-4"><%= title %></h2>
  </div>
</div>