<% layout('../partials/layout') %>


<div class="container text-center text-light my-5">
  <h1 class="display-4 text-danger"><em>404 - Page Not Found</em></h1>
  <p>The requested URL <strong><%= url %></strong> was not found.</p>
  <a href="/" class="btn btn-primary mt-3"><em>Back to Home</em></a>
</div>

