<% layout('partials/layout') %>

<div class="container py-5 text-light text-center">
  <h1 class="text-light text-decoration-underline"><em>500 - Server Error</em></h1>
  <p class="lead text-light"><em>
    <%= error.message %></em>
  </p>
  <a href="/" class="btn btn-primary mt-3"><em>Go Home</em></a>
</div>
