<% layout('partials/layout') %>

<section class="container py-5 text-light text-center lead">
  <h2 class="lead text-light"><em>No search query provided.</em></h2>
  <p class="text-light lead">
    <em>We couldn't find any results for "<%= query %>".</em>
  </p>
  <p class="text-light lead">
    <em>Please enter a keyword in the search box.</em>
  </p>

  <div class="container mt-4">
    <h3 class="lead text-light">
      <em>No results found for "<%= query %>"</em>
    </h3>
    <p class="lead text-light">
      <em>Please try a different search term.</em>
    </p>
  </div>
</section>
