<% layout('partials/layout') %>

<section class="container py-5 lead text-light text-center">
  <div class="container text-light mt-4">
    <h2 class="lead text-light"><em><%= service.title %></em></h2>
    <p class="lead text-light"><em><%= service.description %></em></p>
    <p class="text-muted">
     <em> Posted on <%= post.fullDate %> &mdash; <%= post.relativeDate %></em>
    </p>
  </div>
</section>
