<% layout('partials/layout') %>

<div class="container text-center text-light py-5">
  <h1 class="text-danger"><em>No results found</em></h1>
  <p class="lead text-light">
    <em>We couldn't find anything matching "<%= query %>". Please try again.</em>
  </p>
  <a href="/" class="btn btn-success mt-3"><em>Return to Home</em></a>
</div>
