<% layout('partials/layout') %>

<div class="container mt-5 text-light text-center">
  <h2><em><u><%= category.title %></u></em></h2>
  <p><em><%= category.description || '' %></em></p>

  <% if (blogs && blogs.length > 0) { %>
    <h4><em>Blogs in this category</em></h4>
    <ul>
      <% blogs.forEach(blog => { %>
        <li><a href="/blogs/<%= blog.slug %>"><%= blog.title %></a></li>
      <% }) %>
    </ul>
  <% } else { %>
    <p>No blogs found in this category.</p>
  <% } %>
</div>