<% layout('partials/layout') %>
  <div class="container text-center">
    <h4
      class="display-6 mb-md-2 mt-5 text-start mb-3 pb-3 text-decoration-underline text-light"
      >
      Nothing Found
    </h4>
    <p class="lead text-start text-light"><em>Apologies, but no results were found for the requested archive.</em></p>
    <div
      class="position-relative d-inline-block w-100 ml-lg-5 mt-2 mt-md-0"
      style="max-width: 400px"
    >
      <form
        class="form-inline my-2 my-lg-0 position-relative"
        action="/search"
        method="GET"
      >
        <input
          id="searchInput"
          name="q"
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
          autocomplete="off"
        />
        <button
          class="btn btn-outline-success my-2 my-sm-0 d-flex align-items-center justify-content-center px-3"
          type="submit"
          style="font-size: 17px; padding: 10px 15px; cursor: pointer"
        >
          <i class="fas fa-search" style="font-size: 1rem"></i>
        </button>
      </form>
      <ul
        id="search-suggestions"
        class="list-group position-absolute top-100 start-0 w-100"
        style="
          z-index: 1050;
          display: none;
          max-height: 200px;
          overflow-y: auto;
        "
      ></ul>
    </div>
  </div>
  <div class="container py-5 pl-3 pr-3">
    <section class="team-section">
      <h4 class="display-6 text-center text-decoration-underline pb-3 text-light"><em><u>OTHER MEMBERS</u></em></h4>
      <div role="navigation" aria-labelledby="mw-toc-heading" class="container pl-3 pr-3">
        <div class="row g-3">
          <div class="col-12 col-md-6 col-lg-4">
            <div class="card" style="background-color: #6d835c";>
              <p><img src="images/john cee.JPG" alt="john cee" class="card-img-top"></p>
              <div class="card-body text-light text-center">
                <h4 class="display-8 text-center text-light text-decoration-underline "><em><strong>ENGR, JOHN-CEE ONWUALU, JP</strong></em></h4>
                <p class="lead text-decoration-underline"><em>(FNSE, FNWE, FNICE, MASCE, COREN)</em></p>
                <span class="placeholder col-6"></span>         
                <span class="card-text placeholder-glow">
                  <span class="placeholder col-7"><button type="button" class="btn btn-success btn-md" style="background-color: #6D835C;" data-toggle="modal" data-target="#myModal1">Preview</button></span>
                  <span class="placeholder col-4"><a class="btn btn-success"  style="background-color: #6D835C"; target="team" href="/archives/Jefcon_more" title="ENGR. CHUKA JOHN ONWUALU">More... </a></span>
                  <span class="placeholder col-6"></span> 
                </span>       
              </div>
            </div>
            <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModal1" aria-hidden="true">
              <div class="modal-dialog modal-md" role="document">
                <div class="modal-content">
                  <div class="modal-header" style="justify-content: space-between;">
                    <h3 class="modal-title text-center pl-4 text-decoration-underline"><em><strong>Profile</strong></em></h3>
                    <button type="button" class="btn btn-light" data-dismiss="modal">&times;</button>  
                  </div>
                  <div class="modal-body">
                    <div class="card" style="background-color: #121222;";>
                      <p><img src="images/john cee.JPG" alt="john cee" style="width: 100%; height: 100%"></p>
                    </div>    
                    <h4 class="card-title text-decoration-underline text-center"><strong>ENGR. JOHN CEE ONWUALU, JP</strong></h4>
                    <p class="lead text-decoration-underline"><em>(B.Eng.-Civil; M.Eng.- Civil (Water Resources option), FNSE, FNWE, FNICE, MASCE, COREN)</em></p>
                    <p class="lead"><strong><em>Engr. John Cee Onwualu</em></strong><em> a highly decorated engineering professional with over 30 years in practice. He is the Principal Partner and Chief Executive Officer of the Company.  He is a visionary leader with a strong background in engineering designs, flood control and business management. He is an Alumnus of University of Benin, Benin – City, Nigeria.</em></p>
                    <p class="lead"><em> He possesses exceptional strategic planning and decision-making skills, as well as a deep understanding of industry trends and technologies.</em></p>
                    <p class="lead"><em>The CEO is known for his ability to inspire and motivate employees, fostering a culture of innovation and collaboration within the organization. He is highly skilled in building and maintaining relationships with clients, partners and stakeholders, driving business growth and success.</em></p>
                    <p class="lead"><em> With a proven track record of driving results, as the CEO of an engineering company, he is a dynamic and forward-thinking leader who is  dedicated to driving the company towards continued success and growth.</em></p>                              
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-dismiss="modal" style="background-color: #6d835c";>Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <div class="card mb-3" style="background-color: #6d835c";>
              <img src="images/chuka.JPG" alt="chuka" class="card-img-top">
              <div class="card-body text-light text-center">
                <h4 class="display-8 text-center text-light text-decoration-underline"><em><strong>ENGR. CHUKA JOHN ONWUALU </strong></em></h4>
                <p class="lead text-decoration-underline"><em>(B.Eng.-Civil; M.Eng.- Civil (Water Resources option), FNSE, FNWE, FNICE, MASCE, COREN)</em></p>
                <span class="placeholder col-6"></span>         
                <span class="card-text placeholder-glow">
                  <span class="placeholder col-7"><button type="button" class="btn btn-success btn-md" style="background-color: #6D835C;" data-toggle="modal" data-target="#myModal2">Preview</button></span>
                  <span class="placeholder col-4"><a class="btn btn-success"  style="background-color: #6D835C"; target="team" href="/archives/contact_notfound" title="ENGR. JOHN-CEE ONWUALU, JP">More... </a></span>
                  <span class="placeholder col-6"></span> 
                </span>       
              </div>
            </div>
            <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModal2" aria-hidden="true">
              <div class="modal-dialog modal-md" role="document">
                <div class="modal-content">
                  <div class="modal-header" style="justify-content: space-between;">
                    <h3 class="modal-title text-center pl-4 text-decoration-underline"><em><strong>Profile</strong></em></h3>
                    <button type="button" class="btn btn-light" data-dismiss="modal">&times;</button>  
                  </div>
                  <div class="modal-body text-center">
                    <div class="card" style="background-color: #121222;";>
                      <p><img src="images/chuka.JPG" alt="chuka" style="width: 100%; height: 100%"></p>
                    </div>    
                    <h4 class="display-8 text-center mt-3 text-dark text-decoration-underline"><em><strong>ENGR. CHUKA JOHN ONWUALU </strong></em></h4>
                    <p class="lead text-decoration-underline"><em>(B.Sc. – Civil; M.Sc. – Civil (Water Resources option), MNSE, COREN)</em></p>
                    <p class="lead text-center"><strong><em>Engr. John Chuka Onwualu</em></strong><em> is professionally certified in civil and water resources engineering, and is registered by NSE and COREN, both the highest Professional Bodies that regulate engineering practices in Nigeria. He is an Alumnus of Coventry university, Coventry, United Kingdom.</em></p>
                    <p class="lead text-center"><em>Engr. John Chuka with over 7 years in practice is the Director Operations, who collaborates with Management to set performance goals and long-term plans.  He is skilled in strategic goals setting for operational efficiency and increased productivity, as well as, developing project plans and implementing them effectively.</em></p>
                    <p class="lead text-center"><em>Engr. Chuka also analyses operational processes and performances, recommending solutions for improvement where necessary.  He has a strong focus on financial control and works closely with HR.</em></p> 
                    <p class="lead text-center"><em>Engr. Chuka is saddled with recruitment and selection of qualified candidates for various positions within the Company. Develops and implements HR policies and procedures to ensure compliance with labour laws and regulations.	Managing employee relations, including resolving Conflicts and addressing grievances. Also conducting performance evaluations and providing feedback to employees.</em></p> 
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-dismiss="modal" style="background-color: #6d835c";>Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <div class="card" style="background-color: #6d835c";>
              <img src="images/engr_joel.jpeg" alt="engr_joel"  class="card-img-top" style="width: 100%; height: 100%">
              <div class="card-body text-light text-center">
                <h4 class="display-8 text-center text-light text-decoration-underline"><em><strong>ENGR. JOEL OJO ANAKO</strong></em></h4>
                <p class="lead text-decoration-underline"><em>(B.Eng. Civil; M.Eng. Structural, MNSE, COREN)</em></p>
                <span class="placeholder col-6"></span> 
                <span class="card-text placeholder-glow">
                  <span class="placeholder col-7"><button type="button" class="btn btn-success btn-md" style="background-color: #6D835C;" data-toggle="modal" data-target="#myModal3">Preview</button></span>
                  <span class="placeholder col-4"><a class="btn btn-success"  style="background-color: #6D835C"; target="team" href="/archives/contact_notfound" title="ENGR. JOEL OJO ANAKO">More... </a></span>
                  <span class="placeholder col-6"></span> 
                </span>               
              </div>
            </div>
            <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModal4" aria-hidden="true">
              <div class="modal-dialog modal-md" role="document">
                <div class="modal-content">
                  <div class="modal-header" style="justify-content: space-between;">
                    <h3 class="modal-title pl-4 text-center text-decoration-underline"><em><strong>Profile</strong></em></h3>
                    <button type="button" class="btn btn-light" data-dismiss="modal">&times;</button>  
                  </div>
                  <div class="modal-body text-center">
                    <div class="card" style="background-color: #121222;";>
                      <p><img src="images/engr_joel.jpeg" alt="engr_joel" style="width: 100%; height: 100%"></p>
                    </div>    
                    <h4 class="card-title text-decoration-underline text-center"><strong>ENGR. JOEL OJO ANAKO</strong></h4>
                    <p class="lead text-decoration-underline"><em>(B.Eng. Civil; M.Eng. Structural, MNSE, COREN)</em></p>
                    <p class="lead"><strong><em>Engr. Joel Anako</em></strong><em>, a professional Civil and Structural Engineer by training with over 20 years of practice in civil engineering. He is also registered by NSE and COREN.  He had his B. Eng. and M. Eng. in Civil/Structural Engineering from FUTA, Minna and Bayero University, Kano respectively. He serves as the Head of Engineering Services at JEFCON &amp; Associates Ltd.</em></p>
                    <p class="lead"><em>Leading the Engineering Team, he oversees hiring, training, and project management.  Engaged in project development and planning, vets budget, sets goals, and prepares bidding packages, approves drawings and specifications for contractors. Engr. Joel directs activities for construction of projects from start to finish and oversees the works of other project members.</em></p>
                    <p class="lead"><em>Previously worked in Total Upgrade Projects, an Oil and Gas sector for 12 years in Nigeria and earlier years with construction company in Nigeria.</em><em> Has in depth knowledge in Civil/Structural Engineering, Construction and quality management especially in high rise buildings, Jetty, Bridges, Road, Piling, stormwater drainage works, Steel Structure works,</em></p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-dismiss="modal" style="background-color: #6d835c";>Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row g-3">
            <div class="col-12 col-md-6 col-lg-4">
              <div class="card" style="background-color: #6d835c";>
                <p><img src="images/staff3.JPG" alt="staff3" class="card-img-top"></p>
                <div class="card-body text-light text-center">
                  <h4 class="display-8 text-center text-light text-decoration-underline "><em><strong>MR. ANTHONY IFEANYI UZOGO</strong></em></h4>
                  <p class="lead text-decoration-underline"><em>(BPA, MPA- (Public Admin) MSM, MCIPM/HRPL HEAD, HR/ADMINISTRATION)</em></p>
                  <span class="placeholder col-6"></span>         
                  <span class="card-text placeholder-glow">
                    <span class="placeholder col-7"><button type="button" class="btn btn-success btn-md" style="background-color: #6D835C;" data-toggle="modal" data-target="#myModal7">Preview</button></span>
                    <span class="placeholder col-4"><a class="btn btn-success"  style="background-color: #6D835C"; target=  "team" href="/archives/contact_notfound" title="MR. ANTHONY IFEANYI UZOGO">More... </a></span>
                    <span class="placeholder col-6"></span> 
                  </span>       
                </div>
              </div>
              <div class="modal fade" id="myModal7" tabindex="-1" role="dialog" aria-labelledby="myModal7" aria-hidden="true">
                <div class="modal-dialog modal-md" role="document">
                  <div class="modal-content">
                    <div class="modal-header" style="justify-content: space-between;">
                      <h3 class="modal-title text-center pl-4 text-decoration-underline"><em><strong>Profile</strong></em></h3>
                      <button type="button" class="btn btn-light" data-dismiss="modal">&times;</button>  
                    </div>
                    <div class="modal-body">
                      <div class="card" style="background-color: #121222;";>
                        <p><img src="images/staff3.JPG" alt="staff3" style="width: 100%; height: 100%"></p>
                      </div>    
                      <h4 class="card-title text-decoration-underline text-center"><strong>MR. ANTHONY IFEANYI UZOGO</strong></h4>
                      <p class="lead text-decoration-underline text-center"><em>(BPA, MPA- (Public Admin) MSM, MCIPM/HRPL HEAD, HR/ADMINISTRATION)</em></p>
                      <p class="lead"><strong><em>Mr. Anthony Ifeanyi Uzogo</em></strong><em> an experienced professional in Administration and Human Resource Management, certified by the Certified Institute of Personnel Management of Nigeria (CIPMN) and the Institute of Strategic Management (ISM), he is an Alumnus of University of Benin, Benin – City, Nigeria. He is saddled with recruitment and selection of qualified candidates for various positions within the Company. He develops and implements HR policies and procedures to ensure compliance with labour laws and regulations.  He manages employees’ relations, including resolving conflicts and addressing grievances.</em></p>
                      <p class="lead"><em> He possesses exceptional strategic planning and decision-making skills, as well as a deep understanding of industry trends and technologies. </em></p>
                      <p class="lead"><em>	Also conducting performance evaluations and providing feedback to employees.  Organizes training and development programmes to Enhance employee skills and knowledge. Managing payroll and benefits administration for all employees, as he ensures workplace health and safety standards are met. Handles employee disciplinary actions and terminations when necessary and collaborate with management to develop strategic HR initiatives that align with company goals. Maintaining employee records and ensuring confidentiality of sensitive information.</em></p>      
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-dark" data-dismiss="modal" style="background-color: #6d835c";>Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>                                   
            <div class="col-12 col-md-6 col-lg-4">  
              <div class="card mb-3" style="background-color: #6d835c";>
                <img src="images/Ugochukwu.png" alt="Ugochukwu" class="card-img-top">
                <div class="card-body text-light text-center">
                  <h4 class="display-8 text-center text-light text-decoration-underline"><strong><em>ENGR. FRANCIS UGOCHUKWU ONWUALU</em></strong></h4>
                  <p class="lead text-decoration-underline"><em>(B.Sc. – Mechanical Engineering, MNSE)</em></p>
                  <span class="placeholder col-6"></span>         
                  <span class="card-text placeholder-glow">
                    <span class="placeholder col-7"><button type="button" class="btn btn-success btn-md" style="background-color: #6D835C;" data-toggle="modal" data-target="#myModal8">Preview</button></span>
                    <span class="placeholder col-4"><a class="btn btn-success"  style="background-color: #6D835C"; target="team" href="/archives/contact_notfound" title="ENGR. FRANCIS UGOCHUKWU ONWUALU">More... </a></span>
                    <span class="placeholder col-6"></span> 
                  </span>       
                </div>
              </div>
              <div class="modal fade" id="myModal8" tabindex="-1" role="dialog" aria-labelledby="myModal8" aria-hidden="true">
                <div class="modal-dialog modal-md" role="document">
                  <div class="modal-content">
                    <div class="modal-header" style="justify-content: space-between;">
                      <h3 class="modal-title text-center pl-4 text-decoration-underline"><em><strong>Profile</strong></em></h3>
                      <button type="button" class="btn btn-light" data-dismiss="modal">&times;</button>  
                    </div>
                    <div class="modal-body text-center">
                      <div class="card" style="background-color: #121222;";>
                        <p><img src="images/Ugochukwu.png" alt="Ugochukwu" style="width: 100%; height: 100%"></p>
                      </div>    
                      <h4 class="display-8 text-center mt-3 text-dark text-decoration-underline"><strong><em>ENGR. FRANCIS UGOCHUKWU ONWUALU</em> </strong></h4>
                      <p class="lead text-decoration-underline"><em>(B.Sc. – Mechanical Engineering, MNSE)</em></p>
                      <p class="lead"><strong><em>Engr. Francis Ugochukwu Onwualu,</em></strong><em> is a highly trained professional with degrees in mechanical engineering (B.Eng, &
                        M.Sc.). He is a certified mechanical Engineer, and he is registered with NSE and COREN, both the highest Professional
                        Bodies that regulate engineering practices in Nigeria. He is an
                        Alumnus of Coventry university, Coventry, and Aston University,
                        Birmingham, both in United Kingdom respectively.
                        Engr. Ugochukwu Francis is the Director/Company Secretary, who collaborates with Management to meet the set statutory and
                        regulatory goals. He manages the corporate governance of the Company as well provides the board with the necessary administrative guides and supports.
                        Engr. Ugochukwu Francis coordinates with statutory bodies and
                        other professionals on compliance with regulatory bodies as well as management of company policies. He has a strong focus on financial control and works closely with HR.</em>
                      </p>
                      <p class="lead"><em>Specific Duties: Prepare and distribute meeting materials, including agendas, minutes, and resolutions. Ensure compliance with company laws, regulations, and policies. File annual returns and other documents with regulatory bodies. Maintain statutory registers, including registers of directors, shareholders, and charges. Provide advice on corporate governance and compliance matters. Coordinate with external auditors and other professionals. Manage company documentation, including articles of association and shareholder agreements.  Ensure timely payment of taxes and other statutory fees. Develop and implement corporate policies and procedures. Provide support to the Board of Directors and senior management.</em></p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-dark" data-dismiss="modal" style="background-color: #6d835c";>Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="card" style="background-color: #6d835c";>
                <img src="images/sochukwu.png" alt="sochukwu"  class="card-img-top">
                <div class="card-body text-light text-center">
                  <h4 class="display-8 text-center text-light text-decoration-underline"><em><strong>ENGR. SOCHUKWU AUGUSTINE EGBUNE</strong></em></h4>
                  <p class="lead text-decoration-underline"><em>(B.Eng. Civil; M.Eng. Structural, MNSE, COREN)</em></p>
                  <span class="placeholder col-6"></span> 
                  <span class="card-text placeholder-glow">
                    <span class="placeholder col-7"><button type="button" class="btn btn-success btn-md" style="background-color: #6D835C;" data-toggle="modal" data-target="#myModal9">Preview</button></span>
                    <span class="placeholder col-4"><a class="btn btn-success"  style="background-color: #6D835C"; target="team" href="/archives/contact_notfound" title="ENGR. SOCHUKWU AUGUSTINE EGBUNE">More... </a></span>
                    <span class="placeholder col-6"></span> 
                  </span>               
                </div>
              </div>
              <div class="modal fade" id="myModal9" tabindex="-1" role="dialog" aria-labelledby="myModal9" aria-hidden="true">
                <div class="modal-dialog modal-md" role="document">
                  <div class="modal-content">
                    <div class="modal-header" style="justify-content: space-between;">
                      <h3 class="modal-title text-center pl-4 text-decoration-underline"><em><strong>Profile</strong></em></h3>
                      <button type="button" class="btn btn-light" data-dismiss="modal">&times;</button>  
                    </div>
                    <div class="modal-body text-center">
                      <div class="card" style="background-color: #121222;";>
                        <p><img src="images/sochukwu.png" alt="sochukwu" style="width: 100%; height: 100%"></p>
                      </div>    
                      <h4 class="card-title text-decoration-underline text-center"><strong>ENGR. SOCHUKWU AUGUSTINE EGBUNE</strong></h4>
                      <p class="lead text-decoration-underline"><em>(B.Eng.-Electrical; M.Eng. – Power Ph.D. in-view, MNSE, COREN)</em></p>
                      <p class="lead"><strong><em>Engr. Sochukwu Augustine Egbune</em></strong><em>,is a trained Electrical & Electronic Engineer, who is an Alumnus of University of Benin, Benin – City, Nigeria. He had his B. Eng. And M. Eng. in Electrical engineering with specialist in Power Engineering and he is seeking to expand knowledge further as he is winding up his doctoral degree study in the same field of Engineering.  He has both academic and practical knowledge and seek versatility by delving into other engineering fields.
                        As an Engineering Coordinator of this Company, he oversees four units; Civil/Water/Structural and the Survey Teams.  Others are Architecture, Electrical and ICT engineering activities.  His responsibilities include coordinating and supervising projects within these project areas to ensure successful outcomes.
                      </em></p>
                      <p class="lead"><em>Engr. Sochukwu Augustine Egbune	Holds the position of Engineering Coordinator and reporting to the Engineering Manager. He manages the Information Technology (IT) and Information Communication Technology, ICT department of the Company. Has both academic and practical knowledge and oversees the Civil/Water/Structural and Survey Teams. Others are Architecture, Electrical and Engineering activities. Holds the position of Engineering Coordinator and reporting to the Engineering Manager</em></p>
                      <p class="lead"><em>Other responsibilities include, developing and Maintaining project plans, schedules, and budgets to meet projects’ objectives.	Maintaining records of construction progress, including written reports and digital images. Coordinates the Information telecommunication (IT) and ICT Engineering Activities.</em></p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-dark" data-dismiss="modal" style="background-color: #6d835c";>Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container mt-3">
            <div class="row g-3">
              <div class="col-12 col-md-6 col-lg-4">
                <div class="card" style="background-color: #6d835c";>
                  <p><img src="images/architect ayibuofu.png" alt="architect ayibuofu" class="card-img-top" style="width: 100%; height: 100%"></p>
                  <div class="card-body text-light text-center">
                    <h4 class="display-8 text-center text-light text-decoration-underline "><em><strong>ARC.AYIBUOFU-UWANDI CHIEDU UCHECHUKWU.</strong></em></h4>
                    <p class="lead text-decoration-underline"><em>(ARCON, NIA)</em></p>
                    <span class="placeholder col-6"></span>         
                    <span class="card-text placeholder-glow">
                      <span class="placeholder col-7"><button type="button" class="btn btn-success btn-md" style="background-color: #6D835C;" data-toggle="modal" data-target="#myModal4">Preview</button></span>
                      <span class="placeholder col-4"><a class="btn btn-success"  style="background-color: #6D835C"; target="team" href="/archives/contact_notfound" title="ARC. AYIBUOFU-UWANDI CHIEDU UCHECHUKWU">More... </a></span>
                      <span class="placeholder col-6"></span> 
                    </span>       
                  </div>
                </div>
                <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModal4" aria-hidden="true">
                  <div class="modal-dialog modal-md" role="document">
                    <div class="modal-content">
                      <div class="modal-header" style="justify-content: space-between;">
                        <h3 class="modal-title text-center pl-4 text-decoration-underline"><em><strong>Profile</strong></em></h3>
                        <button type="button" class="btn btn-light" data-dismiss="modal">&times;</button>  
                      </div>
                      <div class="modal-body">
                        <div class="card" style="background-color: #121222;";>
                          <p><img src="images/architect ayibuofu.png" alt="architect ayibuofu" style="width: 100%; height: 100%"></p>
                          </div>    
                          <h4 class="card-title text-decoration-underline text-center"><strong>ARC.AYIBUOFU-UWANDI CHIEDU UCHECHUKWU.</strong></h4>
                          <p class="lead text-decoration-underline"><em>-Obtained M.Sc. (2005) and B.Sc. (1999), respectively in Architecture at the Ambrose Alli University, Ekpoma, Edo State. Professional registrations with: Architects Registration Council of Nigeria (ARCON) and Nigerian Institute of Architects (NIA)</em></p>
                          <p class="lead"><strong><em>Arc. Ayibuogu-Uwandi Chiedu Uchechukwu,</em></strong><em> A highly skilled and dedicated Project Architect with expertise in design, project management, and planning. Proficient in AutoCAD and possessing excellent critical thinking and problem-solving skills. Proven track record of successfully managing building teams to deliver projects on schedule, within budget, and to specification.</em></p>
                          <p class="lead"><em>His responsibilities are as follows: Develop and implement innovative design concepts and solutions. Create detailed architectural designs, models, and presentations using AutoCAD and other software. Conduct site analyses and feasibility studies to inform design decisions. Collaborate with clients to understand project requirements and preference.	Oversee project timelines, budgets, and resources to ensure successful delivery. Coordinate and manage building teams, including contractors, engineers, and consultants.	Identify and mitigate project risks, developing contingency plans as needed. 	Ensure compliance with regulatory requirements and industry standards.</em></p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-dark" data-dismiss="modal" style="background-color: #6d835c";>Close</button> 
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="card mb-3" style="background-color: #6d835c";>
                    <img src="images/staff2.JPG" alt="staff2" class="card-img-top" style="width: 100%; height: 100%">
                    <div class="card-body text-light text-center">
                      <h4 class="display-8 text-center text-light text-decoration-underline"><em><strong>ENGR. PROF. HILARY IJEOMA OWAMAH</strong></em></h4>
                      <p class="lead text-decoration-underline"><em>(Ph.D. Civil Engineering (Water Resources & Environmental); M.Eng. (Environmental Engineering). B.Eng. (Soil Water Engineering Technology, FNSE, FNICE, FNIWE))</em></p>
                      <span class="placeholder col-6"></span>         
                      <span class="card-text placeholder-glow">
                        <span class="placeholder col-7"><button type="button" class="btn btn-success btn-md" style="background-color: #6D835C;" data-toggle="modal" data-target="#myModal5">Preview</button></span>
                        <span class="placeholder col-4"><a class="btn btn-success"  style="background-color: #6D835C"; target="team" href="/archives/contact_notfound" title="ENGR. PROF. HILARY IJEOMA OWAMAH">More... </a></span>
                        <span class="placeholder col-6"></span> 
                      </span>       
                    </div>
                  </div>
                  <div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModal5" aria-hidden="true">
                    <div class="modal-dialog modal-md" role="document">
                      <div class="modal-content">
                        <div class="modal-header" style="justify-content: space-between;">
                          <h3 class="modal-title text-center pl-4 text-decoration-underline"><em><strong>Profile</strong></em></h3>
                          <button type="button" class="btn btn-light" data-dismiss="modal">&times;</button>  
                        </div>
                        <div class="modal-body text-center">
                          <div class="card" style="background-color: #121222;";>
                            <p><img src="images/staff2.JPG" alt="staff2" style="width: 100%; height: 100%"></p>
                          </div>    
                          <h4 class="display-8 text-center mt-3 text-dark text-decoration-underline"><em><strong>ENGR. PROF. HILARY IJEOMA OWAMAH</strong></em></h4>
                          <p class="lead text-decoration-underline"><em>(Ph.D. Civil Engineering (Water Resources & Environmental); M.Eng. (Environmental Engineering). B.Eng. (Soil Water Engineering Technology, FNSE, FNICE, FNIWE))</em></p>
                          <p class="lead text-center"><strong><em>Engr. Hilary Ijeoma Owamah </em></strong><em> is a Professor of Civil Engineering with years of experience in water and environmental engineering. He serves as one of the external Consultants to the Firm. He is involved in project conception and feasibility studies, data analysis, interpretation and modelling design. He is also, involved in River pollution monitoring and control as well as environmental monitoring and protection. He is a distinguished Fellow of different engineering bodies and a distinguished author of several engineering research works. He has handled general construction and geotechnical investigations in different projects within and outside Delta State. He is involved in project costing and appraisal, project development plan, implementation and interfaces with management, project schedule, monitoring, and milestone inspection.
                            Also, experienced in Quality Assurance and Quality Control. Project Certification and Value Assessment</em></p>
                          <p class="lead text-center"><em>Serves as an External Consultant to JEFCON & Associates Ltd. Involves in project conception and feasibility studies, engineering and installation designs, project costing and appraisal. Oversees Quality Assurance and Quality Control implementation, project certification and value assessment.</em></p>
                          <p class="lead text-center"><em>Others are project development plan, implementation and interfaces with management, project schedule, monitoring, and milestone inspection.</em></p> 
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-dark" data-dismiss="modal" style="background-color: #6d835c";>Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="card mb-3" style="background-color: #6d835c";>
                    <img src="images/mr-uchechukwu.jpeg" alt="mr-uchechukwu"  class="card-img-top" style="width: 100%; height: 100%">
                    <div class="card-body text-light text-center">
                      <h4 class="display-8 text-center text-light text-decoration-underline"><em><strong>ENGR. UCHECHUKWU IHUNWEZE</strong></em></h4>
                      <p class="lead text-decoration-underline"><em>(B.Eng. in Civil, MSc. Water Resources Engineering and Management, FNSE, FNIWE, CEM, AEE, CAE)</em></p>
                      <span class="placeholder col-6"></span> 
                      <span class="card-text placeholder-glow">
                        <span class="placeholder col-7"><button type="button" class="btn btn-success btn-md" style="background-color: #6D835C;" data-toggle="modal" data-target="#myModal6">Preview</button></span>
                        <span class="placeholder col-4"><a class="btn btn-success"  style="background-color: #6D835C"; target="team" href="/archives/contact_notfound" title="ENGR. UCHECHUKWU IHUNWEZE">More... </a></span>
                        <span class="placeholder col-6"></span> 
                      </span>               
                    </div>
                  </div>
                  <div class="modal fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModal6" aria-hidden="true">
                    <div class="modal-dialog modal-md" role="document">
                      <div class="modal-content">
                        <div class="modal-header" style="justify-content: space-between;">
                          <h3 class="modal-title text-center pl-4 text-decoration-underline"><em><strong>Profile</strong></em></h3>
                          <button type="button" class="btn btn-light" data-dismiss="modal">&times;</button>  
                        </div>
                        <div class="modal-body text-center">
                          <div class="card" style="background-color: #121222;";>
                            <p><img src="images/mr-uchechukwu.jpeg" alt="mr-uchechukwu" style="width: 100%; height: 100%"></p>
                          </div>    
                          <h4 class="card-title text-decoration-underline text-center"><strong>ENGR. UCHECHUKWU IHUNWEZE</strong></h4>
                          <p class="lead text-decoration-underline"><em>(B.Eng. Civil; M.Eng. Structural, MNSE, COREN)</em></p>
                          <p class="lead"><strong><em>Engr. Uchechukwu Ihunweze </em></strong><em>,is a distinguished Fellow of Nigerian Society of Engineers and Nigerian Institution of Water Engineers. He is fluent in the use of English and German languages. He had his M.Sc. in Water Resources and Engineering Management from University of Stuttgart, Germany
                            He serves as an external Consultant to Jefcon & Associates Limited. He is a highly trained professional Engineer in Civil/Water resources engineering who have played major role in the training of engineers, especially in the water sector. He is also, a certified energy Auditor and a trainer in energy management.  
                            Engr. Uche, has over the years acquired experience and skills from industries and various institutions of learning in Civil/Water resources engineering as well as in environmental engineering. He is involved in cost engineering and financial analysis training of the personnel. He participates actively in designing and modelling of stormwater as well as water reticulation systems. 
                            He has been involved in the design and construction of different Irrigation and Dam projects within Nigeria. He also handles project costing and appraisal, implementation and interfaces with management.
                            </em>
                          </p>
                          <p class="lead"><em>Engr. Uchechukwu Ihunweze's responsibilities are as follows: Manages training and development of project teams. Handles design and modelling of Water Reticulation System.	Involves in design and supervision of irrigation system, dams and other infrastructure. Participates in cost engineering for new projects. 
                            Carries out cost review of existing projects to include conflict resolution option.
                            Provides advisory help on management of basic infrastructure for sustainable usage.
                            </em>
                          </p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-dark" data-dismiss="modal" style="background-color: #6d835c";>Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>  
              <script>
                // Get the button that opens the modal
                const btn = document.querySelectorAll("button.modal-button");
                // All page modals
                const modals = document.querySelectorAll(".modal");
                // Get the <span> element that closes the modal
                const spans = document.getElementsByClassName("close");
                // When the user clicks the button, open the modal
                for (let i = 0; i < btn.length; i++) {
                  btn[i].onclick = function (e) {
                    e.preventDefault();
                    modal = document.querySelector(e.target.getAttribute("href"));
                    modal.style.display = "block";
                  };
                }
                // When the user clicks on <span> (x), close the modal
                for (let i = 0; i < spans.length; i++) {
                  spans[i].onclick = function () {
                    for (let index in modals) {
                      if (typeof modals[index].style !== "undefined")
                        modals[index].style.display = "none";
                    }
                  };
                }
                // When the user clicks anywhere outside of the modal, close it
                window.onclick = function (event) {
                  if (event.target.classList.contains("modal")) {
                    for (let index in modals) {
                      if (typeof modals[index].style !== "undefined")
                        modals[index].style.display = "none";
                    }
                  }
                };
              </script>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>