<% layout('partials/layout') %>

<div class="container my-5 text-light">
  <h2 class="text-light"><em><u>Tag: <%= tag.title %></u></em></h2>
  <p><em><%= tag.description || "" %></em></p>
    
  <% if (blogs && blogs.length > 0) { %>
    <ul>
      <% blogs.forEach(blog => { %>
        <li><a href="/blogs/<%= blog.slug %>"><em><%= blog.title %></em></a></li>
      <% }) %>
    </ul>
    <% } else { %>
    <p class="text-center"><em>No blogs found for this tag.</em></p>
  <% } %>
</div>