<% layout('partials/layout') %>

<div class="container text-center text-light mt-5">
  <h1 class="display-4 text-danger">500 - Server Error</h1>
  <p class="lead text-light">
    <em>Something went wrong on our end. Please try again later.</em>
  </p>
  <a href="/" class="btn btn-primary mt-3">Back to Home</a>
</div>
