<% layout('partials/layout') %>
  
  <div class="container text-center text-light mt-5">
    <h1 class="text-light"><em>404 Not Found</em></h1>
    <% if (typeof message !== 'undefined') { %>
      <p><%= message %></p>
    <% } else { %>
      <p><em>The page you are looking for does not exist.</em></p>
    <% } %>
    <a href="/" class="btn btn-primary text-light mt-3"><em>Go Home</em></a>
  </div>